---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
<!-- SEO: опис -->
<meta name="description" content="Valentyna Maltseva, PhD is a biomedical researcher in biomaterials for hip implants, osteoporosis, and intervertebral disc degeneration. Publications and projects.">

<!-- SEO: ключові слова -->
<meta name="keywords" content="Valentyna Maltseva, Валентина Мальцева, Maltseva V., bone research, osteoporosis, rat, disc degeneration, bone biomaterials, hip implants, biomedical research">

<!-- SEO: автор -->
<meta name="author" content="Valentyna Maltseva, Maltseva V., Maltseva Valentyna Ye., Мальцева В.Є., Мальцева Валентина">

<!-- Open Graph для соцмереж і Google -->
<meta property="og:title" content="Valentyna Maltseva, PhD – Bone biomaterials & Disc degeneration Research" />
<meta property="og:description" content="Valentyna Maltseva, PhD is a biomedical researcher in biomaterials for hip implants, osteoporosis, and intervertebral disc degeneration. Publications and projects." />
<meta property="og:url" content="https://valentynamaltseva.github.io" />
<meta property="og:image" content="https://valentynamaltseva.github.io/images/Мальцева ВЄ.1.png" />
<meta property="og:type" content="website" />
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
